- @title = "Tada! A website."
- @author = "Elijah"
- @posted_at = "2012-08-24"
- @tags = ['']
- @categories = ['']
- @preview = capture_haml do
  :textile
    I just put up the official and uncensored LEAP website. Everything needs a beginning, and I suppose this is our beginning--not with a whimper or a bang, but with a "tada!" Poke around, check us out, and please <a href="/about-us/contact">send us</a> your questions, angry tirades, or love letters. More updates to follow shortly.


