%h1.first The Right to Whisper

%p LEAP fights for the right to whisper.

%p Like free speech, the right to whisper is an <b>necessary precondition for a free society</b>. Without it, civil society and political freedom become impossible. As the importance of digital communication for civic participation increases, so does the importance of the ability to digitally whisper.

%p Unfortunately, advances in surveillance technology are <b>rapidly eroding the ability to whisper</b>. This is a worldwide problem, not simply an issue for people in repressive contexts. Acceptance of poor security in the West creates a global standard of insecure practice, even among civil society actors who urgently need the ability to communicate safely.

%p The stakes could not be higher. Activists are dying because their communication technologies betray their identity, location, and conversations. When activists attempt to secure their communications, they face confusing software, a dearth of secure providers, and a greater risk of being flagged as potential troublemakers. In other words, <b>problems of usability, availability, and adoption</b>.

%h1 Our vision

%p The LEAP vision is to attack these problems of usability, availability, and adoption head on.

%p
  %b To address usability,
  we are creating a complete system where the user-facing client software is tightly coupled with the cloud-base components of the system. All our software will be auto-configuring, prevent users from practicing insecure behavior, and primarily limit the configuration options to those moments when the user is placing their trust in another entity.

%p
  %b To address availability,
  LEAP will work closely with service providers to adopt our open source, #{link 'automated platform' => 'platform'} for running high-availability #{link 'communication services' => 'services'}. By lowering the barriers of entry to become a reliable provider, we can increase the supply and decrease the cost of secure communications.

%p
  %b To address adoption,
  the LEAP platform #{link 'layers higher security' => 'infosec'} on top of existing protocols to allow users a gradual transition path and backward compatibility. Our goal is to create services that are attractive in terms of features, usability, and price for users in both democratic and repressive contexts.

