%article.blog_summary
  %h2= link_to(page.title, page_path(page))
  .byline
    - if page.props.author
      %span.author>= page.props.author
    - if page.props.author && page.props.posted_at
      \.
    - if page.props.posted_at
      %i
        = time_tag(page.props.posted_at.to_date, :format => :long, :pubdate => true)
  %div.content
    - if page.props.preview
      = page.props.preview
      - if page.props.more
        = link_to(I18n.t(:read_more), page_path(page))
    - else
      = render :template => page.template_path