%article.blog_full

  %h1.first= @page.title

  .byline
    - if @page.props.author
      %span.author>= I18n.t('posted_by') + ' ' + @page.props.author
    - if @page.props.author && @page.props.posted_at
      \.
    - if @page.props.posted_at
      %i
        = time_tag(@page.props.posted_at.to_date, :format => :long, :pubdate => true)

  - content_for :blog_content do
    = yield

  - if content_for?(:blog_content)
    = yield(:blog_content)
  - else
    = @page.props.preview