//
// VARIABLES
//

$baseFontSize:          14px;
$baseFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$baseLineHeight:        22px;

// Default 940px grid
$gridColumns:             12 !default;
$gridColumnWidth:         60px !default;
$gridGutterWidth:         20px !default;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// Fluid grid
$fluidGridColumnWidth:    6.382978723% !default;
$fluidGridGutterWidth:    2.127659574% !default;

// side navigation
$side-columns: 3;

//$linkColor: #2072FF;
//$linkColor: #04c;
//$linkVisitedColor: #40c;

$linkColor: #00F;
$linkVisitedColor: #339;

//
// IMPORT LIBRARIES
//

@import "bootstrap";
@import "superfluid";
@import "font-awesome";

//
// IMPORT LOCAL SCSS
//

@import "mixins";
@import "typography";
@import "leap";
