.p {
  margin-top: 1em;
  margin-bottom: 1em;
  &:first-child {
    margin-top: 0;
  }
}

.topgap {
  margin-top: 0.5em;
}

//
// bootstrap default for headings has a really large line-height, which makes the headings look totally
// weird if they span multiple lines.
//

h2 {
  line-height: 1.2em;
  margin-top: 0.1em;
  margin-bottom: 0.25em;
}


//
// make headings and paragraphs that are at the top of the page fit more snugly against the top.
//
h1, h2, h3 {
  &.first {
    line-height: 0.8em;
    margin-bottom: 0.4em;
    //font-size: 3em;
    //color: #333;
  }
}
p.first {
  margin-top: 0 !important;
}


.ol {@extend ol}
.li {@extend li}

.h1 {@extend h1}
.h2 {@extend h2}
.h3 {@extend h3}

.bigger {
  font-size: 140%;
  line-height: 140%;
  margin: 20px 0;
}

a:visited {
  color: $linkVisitedColor;
}

#TOC {
  margin-top: 1em;
  margin-bottom: 1em;
  ul {
    list-style-type: none;
    margin: 0;
  }
  li ul {
    margin-left: 25px;
  }
  // ul {
  //   list-style-type: none;
  //   counter-reset: level1;
  // }
  // ul li:before {
  //   content: counter(level1) ". ";
  //   counter-increment: level1;
  // }
  // ul li ul {
  //   list-style-type: none;
  //   counter-reset: level2;
  // }
  // ul li ul li:before {
  //   content: counter(level1) "." counter(level2) " ";
  //   counter-increment: level2;
  // }
}

//
// pandoc specific
//
// a[href="#TOC"] {
//   color: black;
//   pointer-events: none;
//   cursor: default;
//   &:hover {
//     text-decoration: none;
//   }
// }

