// Code.scss
// Code typography styles for the <code> and <pre> elements
// --------------------------------------------------------

// Inline and block code styles
code,
pre {
  padding: 0 3px 2px;
  @include font-family-monospace;
  font-size: $baseFontSize - 1;
  color: $grayDark;
  @include border-radius(3px);
}

// Inline code
code {
  padding: 3px 4px;
  //color: #d14;
  color: #000;
  //background-color: #fee;
  //border: 1px solid #efe3e3;
  background-color: #eee;
  //border: 1px solid #eee;
}

// Blocks of code
pre {
  display: block;
  padding: ($baseLineHeight - 1) / 2;
  margin: 0 0 $baseLineHeight / 2;
  font-size: 12px;
  line-height: $baseLineHeight;
  background-color: #f5f5f5;
  border: 1px solid #ccc; // fallback for IE7-8
  border: 1px solid rgba(0,0,0,.15);
  @include border-radius(4px);
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;

  // Make prettyprint styles more spaced out for readability
  &.prettyprint {
    margin-bottom: $baseLineHeight;
  }

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
  }
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
