!!! 5
%html{:dir=>'ltr'}
  %head
    %title
      = [page_title, site.title].compact.join(' - ')
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .top
      .column_container
        .column_content
          .masthead
            .contents
              %h1 LEAP Encryption Access Project
              %ul#topnav
                = top_level_navigation_links
    .middle
      .column_container
        .column_content
          - if has_side_column?
            .side_column
              = side_column_navigation_links
          .main_column{:class => main_column_class}
            = content_for?(:content) ? yield(:content) : yield
    .bottom
      .column_container
        .column_content
          = render :partial => 'layouts/footer'
    .background
